<!DOCTYPE html>

<html>

<head>
  <title>about</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by killer bees. It uses data from mapbox and darksky</p>

    <img class="portrait" src="/img/robot.jpeg" alt="robot" />
  </div>

  {{>footer}}
</body>

</html>